<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="container">
                        <div class="alert alert-danger mt-5">
                            <h2 class="alert-heading">You are not authorized to view this page</h2>
                            <p><a class="alert-link" href="/">Go back to the main page</a></p>
                        </div>
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <div>Authorizing access...</div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
